#mc_embed_signup_scroll {
    // background-color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .mc-field-group,
    #mce-responses {
        display: flex;
        flex-direction: column;
        margin: 0 0.25em;
    }

    #mce-EMAIL {
        width: 4rem * 2.5;
    }

    #mce-FNAME {
        width: 4rem;
    }

    #mce-responses {
        font-size: 0.7rem;
        line-height: 0.9rem;
        color: orange;
    }

    #mce-error-response {
        color: orange;
    }

    #mce-success-response {
        color: green;
    }

    label {
        font-size: 0.6rem;
        text-transform: uppercase;
    }

    button {
        margin: 32px 0 0;
    }
}

input[type="text"],
input[type="email"],
textarea {
    font-size: 1rem;
    padding: 0.3em;
    @include light45;
    border-radius: 0;
    border: none;

    &:focus {
        @include medium65;
    }
}

fieldset {
    border: 0;
    padding: 0.35em 0.5em 0.625em;
    box-sizing: border-box;

    &.submit button {
        margin-top: 1rem;
    }
}

.add-form {
    .cols {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        fieldset {
            flex: 1;

        }
    }

    .label-group {
        display: flex;
        justify-content: space-between;
    }

    input,
    textarea {
        width: 100%;
        box-sizing: border-box;
    }

    legend {
        color: $white;
        font-size: 1.1rem;
        @include medium65;
    }

    label {
        @include light45;
    }

    p.info {
        font-size: 0.7rem;
        line-height: 1.2;
        margin: 0.3rem 0;
    }

    button {
        width: 100%;
        box-sizing: border-box;
        margin: 0;
    }

    .disclaimer {
        font-size: 0.7rem;
        line-height: 1.2;
        margin: 0.3rem 0;
        @include light45;
    }
}

a.delete {
    position: relative;
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c00;
    color: $white;
    margin-top: 60px;

    &:hover {
        text-decoration: none;
    }

    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        width: 100%;
        content: '';
        // background-color: rgba(black, 0.4);
        // transform: translateY(100%);
        background-color: #c00;
        filter: brightness(0.7);
    }
}

.terms-container {
    position: fixed;
    top: 14px;
    left: 50%;
    width: 65%;
    z-index: 70;
    transform: translate(-50%, -200%);
    transition: transform 300ms $ease-smooth;
    display: flex;
    align-items: center;
    
    &.active {
        transform: translate(-50%, 0);
        transition: transform 400ms $ease-bounce;
    }

    label {
        font-size: 0.8rem;
        margin-right: 10px;
    }

    input {
        width: 100%;
    }
}

.share-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 900px;
    z-index: 80;
    transform: translate(-50%, -50%);
    background-color: rgba(black, 0.5);
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s $ease-smooth, visibility 0.3s $ease-smooth;

    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    .share-url {
        width: 100%;
        padding: 0.5rem 0.8rem;
        background-color: white;
        color: $black;
        font-size: 0.8rem;
    }

    .share-buttons {
        display: flex;
        align-items: center;

        [class^="icon-"], [class*=" icon-"] {
            font-size: 1.2rem;
            margin: 0.6rem 0.8rem;
            cursor: pointer;
            color: var(--primary-color);
        }
    }

    @media screen and (max-width: 540px) {
        flex-direction: column;

        .share-buttons {

            [class^="icon-"], [class*=" icon-"] {
                font-size: 2rem;
                margin: 0.6rem 1.2rem;
            }
        }
    }
}