.topbar {
    position: fixed;
    width: 100%;
    height: $topbar-height;
    z-index: 10;
    
    .menu-items {
        position: absolute;
        width: 100%;
        height: $topbar-height;
        background-color: $black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 20px black;

        .search,
        .menu {
            position: relative;
            color: $primary;
            // flex: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            height: $topbar-height;
            // background: green;
        }
        
        .search {
            margin-right: auto;
            font-size: 1.4rem;
            padding-left: 1rem;
        }
        
        .title {
            z-index: 11;
            padding: 0 1rem;
            margin: auto;
            font-size: 18px;
            @include medium65;
            flex: 0 auto;
            // background: blue;
            
            a {
                color: $primary;
                text-decoration: none;
            }
        }
        
        .menu {
            margin-left: auto;
            font-size: 2rem;
            padding-right: calc(1rem - 8px);
    
            input[type=checkbox] {
                display: none;
            }
    
            label {
                // background: red;
    
                .spinner-container {
                    z-index: 12;
                    // background: blue;
                    transition: transform 600ms $ease-smooth;
    
                    .icon-ellipsis {
                        // background: purple;
                        cursor: pointer;
                    }
                }

                .menu-backdrop {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100vw;
                    height: 100vh;
                    background-color: black;
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 600ms $ease-smooth, visibility 600ms $ease-smooth;
                }
                
                .menu-panel {
                    z-index: 1;
                    position: absolute;
                    top: $topbar-height;
                    right: 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: rgba(black, 0.9);
                    box-shadow: 0 2px 20px black;
                    transform: translateX(101%);
                    transition: transform 400ms $ease-smooth;
                    max-width: 320px;
                    width: 100vw;
            
                    ul, 
                    li {
                        width: 100%;
                        list-style: none;
                    }
            
                    ul {
                        margin: 0;
                        padding: 0 3em;
                    }
            
                    li a {
                        display: block;
                        // text-align: center;
                        padding: 1rem 0;
                        @include roman55;
                        font-size: 18px;
                        
                        [class^="icon-"], [class*=" icon-"] {
                            margin-right: 1rem;
                        }
                    }
                }
            }
        }
    
        .menu-cb:checked + label {
            .spinner-container {
                transform: rotate(-270deg);

                .icon-ellipsis {
                    // background: green;
                }
            }

            .menu-backdrop {
                opacity: 0.5;
                visibility: visible;
            }

            .menu-panel {
                transform: translateX(0);
            }
        }
    }
}