.explainer {
    padding: 1rem 0 3rem;
    text-align: center;
    
    p {
        font-size-adjust: 24px/$font-base * 1rem;
        @include light45;
        color: $white;

        span.em {
            @include medium65;
        }
    }
}

blockquote {
    position: relative;
    width: 100%;
    
    .sayer {
        font-size: 1rem;
        @include medium65;
        margin-bottom: 0.5rem;
    }
    
    .quote {
        font-size: 26px/$font-base * 1rem;
        @include bold75;
        line-height: 32px/$font-base * 1rem;
        line-height: 1.081;
        quotes: "“" "”" "‘" "’";
        color: $white;
        
        &::before {
            content: open-quote;
            color: $dark-grey;
        }
        
        &::after {
            content: close-quote;
            color: $dark-grey;
        }
    }

    .meta {
        font-size: 12px/$font-base * 1rem;
        line-height: 24px/$font-base * 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-top: 1em;

        & > div:not(:first-child) {
            margin-left: 0.5rem;
        }
                        
        [class^="icon-"], [class*=" icon-"] {
            margin-right: 0.5em;

            &:hover {
                text-decoration: none;
            }
        }

        a.quote-btn-like,
        a.quote-btn-share {
            cursor: pointer;
        }

        a.tag:not(:last-child) {
            margin-right: 8px;
        }

        .like-container {
            position: relative;

            .quote-btn-like {
                color: var(--primary-color);
                cursor: pointer;
            }

            .anim {
                position: absolute;
                top: 0;
                left: 0;
                visibility: hidden;
                pointer-events: none;

                .heart {
                    position: absolute;

                    @keyframes heart-anim-1 {
                        0% {
                            transform: translate(0, 0);
                            opacity: 1;
                        }
                        50% {
                            transform: translate(-10px, -16px) rotate(9deg) scale(0.8);
                            opacity: 1;
                        }
                        100% {
                            transform: translate(7px, -32px) rotate(-4deg) scale(0.4);
                            opacity: 0;
                        }
                    }

                    @keyframes heart-anim-2 {
                        0% {
                            transform: translate(0, 0);
                            opacity: 1;
                        }
                        50% {
                            transform: translate(10px, -14px) rotate(-9deg) scale(0.8);
                            opacity: 1;
                        }
                        100% {
                            transform: translate(-7px, -28px) rotate(4deg) scale(0.4);
                            opacity: 0;
                        }
                    }

                    @keyframes heart-anim-3 {
                        0% {
                            transform: translate(0, 0);
                            opacity: 1;
                        }
                        50% {
                            transform: translate(-4px, -14px) rotate(12deg) scale(1.1);
                            opacity: 0.7;
                        }
                        100% {
                            transform: translate(3px, -28px) rotate(-8deg) scale(0.5);
                            opacity: 0;
                        }
                    }

                    .icon {
                        position: absolute;
                        top: 7px;
                        left: 0;
                        // transform: translate(-50%, -50%);
                        color: red;

                    }
                }
                
                &.active {
                    visibility: visible;

                    .heart {
                        &:nth-child(1) .icon { animation: heart-anim-1 1200ms linear forwards; }
                        &:nth-child(2) .icon { animation: heart-anim-2 1300ms linear forwards; }
                        &:nth-child(3) .icon { animation: heart-anim-3 1400ms linear forwards; }
                    }
                }
            }
        }
    }

    @media screen and (min-width: 1024px) {
        .quote {
            padding-left: 38%;
            padding-right: 4%;
            padding-bottom: 100px;
            // border: 1px dashed var(--primary-color);
        }

        .sayer {
            font-size: 1.2rem;
            position: absolute;
            left: 2%;
            top: 10px;
            width: 28%;
            display: flex;
            justify-content: flex-end;
            text-align: right;
        }
        
        .meta {
            position: absolute;
            left: 2%;
            top: 32px;
            width: 28%;
        }
    }
}

.quotes-list {
    blockquote {
        margin-bottom: 2em;
    }
}