<blockquote>
    <div class="sayer">
        <a href="{{ quote.sayer_link }}">{{ quote.sayer }}</a>
    </div>
    <div class="quote">
        {% if not is_single_quote %}<a href="{{ quote.link }}">{% endif %}
        {{ quote.quote }}
        {% if not is_single_quote %}</a>{% endif %}
    </div>
    <div class="meta">
        <div><span class="icon-clock"></span> {{ quote.ago }}</div>
        <div><span class="icon-pencil"></span> <a href="{{ quote.submitter_link }}">{{ quote.submitter }}</a></div>
        <div class="like-container">
            <span class="icon-heart1 quote-btn-like" data-id="{{ quote.id }}"></span> <span id="q{{ quote.id }}-likes">{{ quote.likes }}</span>
            <div id="q{{ quote.id }}-anim" class="anim">
                <span class="heart"><span class="icon icon-heart1"></span></span>
                <span class="heart"><span class="icon icon-heart1"></span></span>
                <span class="heart"><span class="icon icon-heart1"></span></span>
            </div>
        </div>
        <div><span data-url="{{ quote.link }}" class="icon-share quote-btn-share"></span></div>
        <div><span class="icon-price-tags"></span>{{ quote.tags_links|raw }}</div>
        <div><a href="https://service.topquote.nl/img/{{ quote.id }}" target="_blank" rel="noopener" class="icon-photo"></a></div>
    </div>
</blockquote>
