{% extends "base.html" %}

{% block title %}{% if not edit %}Voeg nieuwe quote toe{% endif %}{% if edit %}Quote bewerken{% endif %}{% endblock %}
{% block head %}
{{ parent() }}
<meta property="og:title" content="{{ site_title }}" />
<meta property="og:url" content="{{ tqd.site_url }}/add" />
<meta property="og:type" content="website" />
<meta name="description" content="Sla alle quotes, citaten en uitspraken van je collega s, kinderen, vrienden en (on)bekenden op zonder account">
<meta property="og:description" content="Sla alle quotes, citaten en uitspraken van je collega s, kinderen, vrienden en (on)bekenden op zonder account" />
{% endblock %}
{% block content %}

<div class="readable">
    <form id="{% if not edit %}addForm{% endif %}{% if edit %}editForm{% endif %}" method="post" class="add-form" {% if edit %}action="{{ edit_url }}"{% endif %}>
        {% if edit %}
        <input type="hidden" id="f_is_delete" name="is_delete" value="0">
        <input type="hidden" name="quote_id" value="{{ quote_id }}">
        <input type="hidden" name="modkey" value="{{ modkey }}">
        {% endif %}
        <fieldset>
            <legend>
                {% if not edit %}Sla een nieuwe quote op{% endif %}
                {% if edit %}Quote bewerken{% endif %}
            </legend>
            <div class="label-group">
                <label for="f_quote">Quote</label>
                <p class="info">Wat werd er gezegd?</p>
            </div>
            <div class="v"><textarea required name="quote" rows="3" id="f_quote">{{ quote }}</textarea></div>
        </fieldset>
        <div class="cols">
            <fieldset>
                <div class="label-group">
                    <label for="f_by">Van</label>
                    <p class="info">Wie zei het?</p>
                </div>  
                <div class="v"><input required type="text" name="by" id="f_by" value="{{ by }}"></div>
            </fieldset>
            <fieldset>
                <div class="label-group">
                    <label for="f_from">Door</label>
                    <p class="info">Jouw naam</p>
                </div>  
                <div class="v"><input required type="text" name="from" id="f_from" value="{{ from }}"></div>
            </fieldset>
        </div>
        <fieldset>
            <div class="label-group">
                <label for="f_tags">Labels</label>
                <p class="info">Bijv.: inspiratie, jinek, ah</p>
            </div>  
            <div class="v"><input type="text" name="tags" id="f_tags" value="{{ tags }}"></div>
        </fieldset>
        {% if not edit %}
        <fieldset><label for="f_email">E-mailadres</label>
            <div class="v"><input required type="email" name="email" id="f_email" value="{{ email }}"></div>
            <p class="info">Je krijgt een mail met link om de quote te kunnen verwijderen. En misschien ooit een nieuwtje. We geven &rsquo;m nooit aan derden. Beloofd!</p>
        </fieldset>
        {% endif %}
        <fieldset class="submit">
            <button>Opslaan</button>
            {% if not edit %}
                <p class="disclaimer">Dit formulier wordt beschermd door reCAPTCHA en Google’s <a target="_blank"
                rel="noopener norererer" href="https://policies.google.com/privacy">Privacybeleid</a> en <a target="_blank"
                rel="noopener norererer" href="https://policies.google.com/terms">Servicevoorwaarden</a> zijn van
                toepassing.</p>
            {% endif %}
            <!---->
        </fieldset>
        <input type="hidden" name="rtoken" id="rtoken">
        <!---->
        <!---->
        {% if edit %}
        <fieldset>
        <a href="/" id="btnDelete" class="delete"><span class="icon-bin"></span></a>
        </fieldset>
        {% endif %}

    </form>
</div>

{% endblock %}

{% block scripts %}
<script src="https://www.google.com/recaptcha/api.js?render={{ RECAPTCHA_SITE_KEY }}"></script>
{{ parent() }}
{% endblock %}