<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="profile" href="http://gmpg.org/xfn/11" />
            <link rel="dns-prefetch" href="//use.typekit.net">
            <link rel="preconnect" href="https://use.typekit.net/" crossorigin>
            {% for css_file in css_files %}
                <link rel="stylesheet" href="{{ css_file }}">
            {% endfor %}
            <title>{% block title %}{% endblock %} - TopQuote</title>
        {% endblock %}
    </head>
    <body class="{% if is_home %}home{% endif %}{% if is_single_quote %} single-quote {% endif %}">
        <nav>
            {% block nav %}
            {{ include('partials/nav.html') }}
            {% endblock %}
        </nav>
        <main>
            {% block content %}
                content
            {% endblock %}
        </main>
        {% block scripts %}
            <script>window.tqd = { rsk: '{{ RECAPTCHA_SITE_KEY }}', {% for key, value in tqd %} {{ key }}: '{{ value }}', {% endfor %}{% for key, value in tqd_num %} {{ key }}: {{ value }}, {% endfor %} };</script>
            {% for js_file in js_files %}
                <script src="{{ js_file}}"></script>
            {% endfor %}
        {% endblock %}
    </body>
</html>