{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block head %}
    {{ parent() }}
    <meta property="og:title" content="{{ site_title }}" />
    <meta property="og:url" content="{{ tqd.site_url }}" />
    <meta property="og:type" content="website" />
    <meta name="description" content="{{ site_description }}">
    <meta property="og:description" content="{{ site_description }}" />
{% endblock %}

{% block content %}
<h1 id="home_title_bg" class="fixed">topquote</h1>
<a class="h1" href="{{ tqd.site_url }}"><h1 id="home_title">topquote</h1></a>

<section id="quotes_list" class="quotes-list">

    <h2 class="full">Afgelopen maand gezegd</h2>
    {% set quote = said_last_week %}
    {{ include('partials/blockquote.html') }}

    <h2 class="full">Random uitspraak</h2>
    {% set quote = random_quote %}
    {{ include('partials/blockquote.html') }}
    
    <div class="readable ranking marg-bot">
        <h2 class="full">Top tags</h2>
        <p>De populairste tags van deze week:</p>
        <ul class="rank-cloud">
            {% for tag in top_tags %}
            <li><span class="icon-price-tags"></span><a href="{{ site_url }}/quotes/tag/{{ tag.tag }}">{{ tag.tag }}</a></li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="readable marg-bot">
        <h2 class="full">Sla je eigen uitspraken op!</h2>
        <p>Sla al die prachtige, ontwapenende en hilarische quotes van je collega&rsquo;s, kinderen, vriend-en-vijanden en (on)bekenden op. Je hoeft geen account te maken.</p>
        <div class="centered pad-top-20">
            <a href="{{ site_url }}/add" class="btn">Uitspraak toevoegen</a>
        </div>
    </div>
    
    <div class="readable ranking marg-bot">
        <h2 class="full">Top zeggers</h2>
        <p>Ranking the stars! De meeste uitspraken zijn momenteel van ...</p>
        <ul class="rank-cloud">
            {% for sayer in top_sayers %}
            <li><span class="icon-topquote-logo-outlines"></span><a href="{{ site_url }}/quotes/by/{{ sayer.sayer_slug }}">{{ sayer.sayer }}</a></li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="readable marg-bot">
        <h2 class="full">Op de hoogte blijven</h2>
        <p>Schrijf je hier in om af en toe een update te krijgen. We geven je e-mailadres niet aan derden. Beloofd!</p>
        <div id="mc_embed_signup">
            {{ include('partials/mailform.html') }}
        </div>
    </div>
    
    <div class="readable ranking marg-bot">
        <h2 class="full">Top inzenders</h2>
        <p>Op dit moment zijn de meeste uitspraken die werden ingezonden van:</p>
        <ul class="rank-cloud">
            {% for submitter in top_submitters %}
            <li><span class="icon-pencil"></span><a href="{{ site_url }}/quotes/from/{{ submitter.submitter_slug }}">{{ submitter.submitter }}</a></li>
            {% endfor %}
        </ul>
    </div>


{% endblock %}