{% extends "base.html" %}

{% block title %}Uitspraak van {{ quote.sayer }}{% endblock %}
{% block head %}
    {{ parent() }}
    <meta property="og:title" content="Uitspraak van {{ quote.sayer }}" />
    <meta property="og:url" content="{{ tqd.site_url }}/quote/{{ quote.slug }}" />
    <meta property="og:type" content="website" />
    <meta name="description" content="{{ quote.quote }}">
    <meta property="og:description" content="{{ quote.quote }}" />
    <script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "Quotation",
        "creator": {
            "@type": "Person",
            "name": "{{ quote.sayer }}"
        },
        "editor": {
            "@type": "Person",
            "name": "{{ quote.submitter }}"
        },
        "text": "{{ quote.quote }}",
        "archivedAt": {{ website_schema|raw }},
    }
    </script>
{% endblock %}
{% block content %}
<div class="full-h">
    {{ include('partials/blockquote.html') }}
</div>
Related
Lorum ipsum<br>
Lorum ipsum<br>
Lorum ipsum<br>
Lorum ipsum<br>
Lorum ipsum<br>
Lorum ipsum<br>
Lorum ipsum<br>
Lorum ipsum<br>
Lorum ipsum<br>
Lorum ipsum<br>
Lorum ipsum<br>
Lorum ipsum<br>
{% endblock %}