{% extends "base.html" %}

{% block title %}{{ list_title|striptags }}{% endblock %}
{% block head %}
    {{ parent() }}
    <meta property="og:image" content="{{ tqd.site_url }}/visual.png" />
    <meta property="og:title" content="{{ list_title|striptags }}" />
    <meta property="og:url" content="{{ list_url }}" />
    <meta property="og:type" content="website" />
    <meta name="description" content="{{ list_title|striptags }}">
    <meta property="og:description" content="{{ list_title|striptags }}" />
{% endblock %}
{% block content %}

<section class="explainer">
    <p>{{ list_title|raw }}</p>
</section>

<section id="quotes_list" class="quotes-list">
{% set a = 0 %}
{% set n = 0 %}
{% for quote in quotes %}
    {{ include('partials/blockquote.html') }}
    {% set a = a + 1 %}
    {% set n = n + 1 %}
    {% if a == 6 %}
        <div class="readable ranking marg-bot">
            <a target="_blank" class="txtad" href="https://www.amazon.nl/gp/search?ie=UTF8&tag=jfams-21&linkCode=ur2&linkId=04e044e712e1f7faadbe539aaee79f87&camp=247&creative=1211&index=books&keywords=Citaten">Inspirerende boeken met citaten</a>
        </div>
        <div class="readable ranking marg-bot">
            <p class="ad-info">[ reclame ]</p>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2356098750828124"
                crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
                style="display:block; text-align:center;"
                data-ad-layout="in-article"
                data-ad-format="fluid"
                data-ad-client="ca-pub-2356098750828124"
                data-ad-slot="8507938886"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        {% set n = 0 %}
    {% endif %}
    {% if n > 12 %}
        <div class="readable ranking marg-bot">
            <p class="ad-info">[ reclame ]</p>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2356098750828124"
                crossorigin="anonymous"></script>
            <!-- horizontaal -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2356098750828124" data-ad-slot="7031205682"
                data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
                ( adsbygoogle = window.adsbygoogle || [] ).push( {} );
            </script>
        </div>
        {% set n = 0 %}
    {% endif %}
{% endfor %}
{% if not quotes %}
    <p>Geen quotes gevonden</p>
{% endif %}
</section>

{% endblock %}
