{% extends "base.html" %}

{% block title %}{{ list_title|striptags }}{% endblock %}
{% block head %}
    {{ parent() }}
    <meta property="og:image" content="{{ tqd.site_url }}/visual.png" />
    <meta property="og:title" content="{{ list_title|striptags }}" />
    <meta property="og:url" content="{{ list_url }}" />
    <meta property="og:type" content="website" />
    <meta name="description" content="{{ list_title|striptags }}">
    <meta property="og:description" content="{{ list_title|striptags }}" />
{% endblock %}
{% block content %}

<section class="explainer">
    <p>{{ list_title|raw }}</p>
</section>

<section id="quotes_list" class="quotes-list">
{% for quote in quotes %}
    {{ include('partials/blockquote.html') }}
{% endfor %}
{% if not quotes %}
    <p>Geen quotes gevonden</p>
{% endif %}
</section>

{% endblock %}